body{
    height: 100dvh;
    margin: 0;
    background-attachment: scroll;
    background: linear-gradient(
    to bottom right,
    rgb(94, 204, 162) 5%,
    rgb(49, 173, 126) 10%,
    rgb(40, 41, 44) 80%
  );
}

#heading1 {
    color: white;
    border: 2px solid seagreen;
    box-shadow: 0 0 0 1dvh whitesmoke;
    outline-offset: 0.5dvh;
    white-space: nowrap;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 4vh auto;
    padding: 0.5rem;
}

#add {
  background-color: aqua;
  padding: 10px; 
  height: 60px;
  width: 59px;
  border: none;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50%;
  transition: all 1.6s ease-out;

  position: fixed;
  right: 5dvh;
  bottom: 15dvh;

}
#add:hover{
  background-color:rgb(101, 146, 153);
}
#add:active{
  box-shadow: 0 0 2px rgb(234, 238, 238);
  transform: rotateY(360deg);
}


li{
  margin: 2dvh 0;
}

button{
  margin-left: 4dvh;
}
